  <style type="text/css">
    body {
      font: normal 68% verdana, arial, helvetica;
      color: #000000;
    }

    table tr td, table tr th {
      font-size: 100%;
      height:25px;
    }

    table tr th {
      font-weight: bold;
      text-align: left;
      background: #a6caf0;
      white-space: nowrap;
    }

    table tr.d0 {
      background: #E6E6FA;
      white-space: nowrap;
    }
    table tr.d1 {
	background-color: #FFF0F5;
	white-space: nowrap;
    }

    table tr:hover {
          background-color: #FFFF00;
    }

    h1 {
      margin: 0 0 5px;
      font: 165% verdana, arial, helvetica
    }

    h2 {
      margin-top: 1em;
      margin-bottom: 0.5em;
      font: bold 125% verdana, arial, helvetica
    }

    h3 {
      margin-bottom: 0.5em;
      font: bold 115% verdana, arial, helvetica
    }

    img {
      border-width: 0;
    }

    div {
      margin-bottom: 20px;
    }

    div.details ul li {
      list-style: none;
    }
  </style>
